<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table>
        <% jobs.forEach(function(job){ %>
            <tr>
                <td><%= job.name %></td>
                <td><%= job.year %></td>
                <td><%= job.stipend %></td>
                <td><%= job.time_period %></td>
                <td><%= job.purpose %></td>
                <td><%= job.location %></td>
                <td><%= job.branch %></td>

                <% if (user && user.admin == 1) { %>
                <td><a href="/admin/edit-info/<%= job._id %>">Update</a></td>
                <td><a href="/admin/delete/<%= job._id %>">Delete</a></td>
                <td>
                    <% let i=1; %>
                    <% job.appliedusers.forEach(function(user){ %>
                        <b>User <%= i %></b> <br>
                        <%= user.username %> <br>
                        <a href="<%= user.public_profile  %>">Public profile</a>
                        <% i = i+1; %>
                    <% }); %>
                </td>
                <% } %>
                <% if (user && user.admin == 0) { %>
                    <td><a href="/apply/<%= job._id %>">Apply</a></td>
                <% } %>
                    <td><a href="/job/<%= job._id %>">Details</a></td>
            </tr>
            <% }); %>
    </table>
</body>
</html>