<!DOCTYPE html>
<html lang="en">
	
	
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Placement Portal</title>
    <link rel ="shortcut icon" type="image/png" href="/img/favicon.ico">
    <!-- All Plugins Css -->
    <link href="/css/plugins.css" rel="stylesheet">
     

    <!-- Custom CSS -->
    <link href="/css/styles.css" rel="stylesheet">
    
    <!-- Custom Color -->
	<link href="/css/default.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="green-skin" style="background-color:#E9FCE4;">

<!-- Start Navigation navbar-->
        <div class="header header-light">
            <div class="container-fluid">
                <nav id="navigation" class="navigation navigation-landscape">
                    <div class="nav-header">
                        <a class="nav-brand" href="#">
                            <img src="/img/logo4.PNG" class="logo"  alt="logo">
                        </a>
                        <div class="nav-toggle"></div>
                    </div>
                    <div class="nav-menus-wrapper" style="transition-property: none;">
                        <ul class="nav-menu">
                        
                            <li><a href="/">Home</a></li>
							
								<%if (user && user.admin){%>
								<li><a href="/allusers">All students</a></li>
									<%}%>
									<% if(user){ %>
										  <li>
										<a href="/admin/list" >
											<i class="ti-signal mr-1"></i><span class="dn-lg">Get list </span>
										</a>
									</li>
										<%}%>
                                    <li>
									<a href="/tip"><i class="ti-ink-pen"></i><span class="dn-lg">Add new tip</span></a></li>                                 
                            </li>
                            
                            <li><a href="/contact">Contact Us</a></li>
                            
                        </ul>
                        
                        <ul class="nav-menu nav-menu-social align-to-right">
                            
                            
								<% if(user) {%>
									<li>
										<a href="/users/logout" >
											<i class="ti-user mr-1"></i><span class="dn-lg">Logout</span>
										</a>
									</li>
								
									
									
									<% if(user.admin){ %>
									<li class="add-listing theme-bg">
										<a href="/admin/addnew">
											 <i class="ti-plus"></i> Add new company
										</a>
									</li>
									<% }else{ %>
										<li class="add-listing theme-bg">
											<a href="/users/profile">
												Your Profile
											</a>
										</li>
										<% } %>
								<% }else{ %>
									<li>
									<a href="#" data-toggle="modal" data-target="#login">
										<i class="ti-user mr-1"></i><span class="dn-lg">Login/Register</span>
									</a>
									</li>
									<% } %>
                           
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <!-- end navbar  -->
        <!-- messages  -->
            <%- messages('messages', locals) -%>


<br>
    <form action="/admin/edit-info/<%= id %>" method="POST">
        <center>
            <div class="col-md-5">
        
        <label  class="col-md-4" style="font-size:medium">Company name</label>
        <input type="text" name="name" id="" value="<%= name %>"> <br>
        <label  class="col-md-4" style="font-size:medium">Purpose</label>
        <input type="text" value="<%= purpose %>" disabled> <br>
        <label  class="col-md-4" style="font-size:medium"></label>
        <select name="purpose" id="">
            <option value="" disabled selected>Change it from here</option>
            <option value="job">Job</option>
            <option value="internship">Internship</option>
        </select> <br> <br>

        <label  class="col-md-4" style="font-size:medium">Description - </label>
        <input type="textarea" name="description" value="<%= description %>"> <br>

        <label  class="col-md-4" style="font-size:medium">Stipend </label>
        <input type="text" name="stipend" id="" value="<%= stipend %>"> <br>

        <label  class="col-md-4" style="font-size:medium">Location </label>
        <input type="text" name="location" id=""  value="<%= location %>"> <br>

        <label  class="col-md-4" style="font-size:medium">Time period </label>
        <input type="text" name="time_period" value="<%=time_period %>"> <br>

        <label  class="col-md-4" style="font-size:medium">For branches - </label>
        <input type="text" name="branch" value="<%= branch %>"> <br>

        <label  class="col-md-4" style="font-size:medium">Year</label>
        <input type="Number" value="<%= year %>" disabled> <br>
        <label  class="col-md-4" style="font-size:medium"></label>
        <select name="year" id="">
            <option value="" disabled selected>Change it from here</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select> <br> <br>

        

        <label  class="col-md-4" style="font-size:medium">Form link -</label>
         <input type="text" name="formlink" value="<%= formlink %>"> <br>
        
         <label  class="col-md-4" style="font-size:medium">Deadline - </label>
        <input type="date" name="deadline" value="<%= deadline %>"> <br>

        <label  class="col-md-4" style="font-size:medium">Eligible students(test)- </label>
        <input type="text" name="eligibletest" value="<%= eligibletest %>"> <br>

        <label  class="col-md-4" style="font-size:medium">Test date - </label>
        <input type="date" name="testdate" value="<%= testdate %>"> <br>

        <label  class="col-md-4" style="font-size:medium">Test link - </label>
        <input type="text" name="testlink" value="<%= testlink %>"> <br>


        <label  class="col-md-4" style="font-size:medium">Application open? </label>
        <% if(open){ %>
            <input type="text" value="Yes" disabled>
        <% }else{ %>
            <input type="text" value="No" disabled>
        <% } %> <br>
        <label  class="col-md-4" style="font-size:medium"></label>
        <select name="open" id="">
            <option value="" disabled selected>Change it from here</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select> <br> <br>
    
        <label  class="col-md-4" style="font-size:medium">Selected candidates - </label>
         <input type="text" name="selectedusers" value="<%= selectedusers %>"> <br> <br>

        <button type="submit" class="btn btn-info btn-md col-md-4">Update</button>
            </div>
        </center>
    </form>
<br>
    <!-- footer  -->
			<footer class="dark-footer skin-dark-footer">
				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-6 col-md-6">
								<p class="mb-0">© 2020 Placement Portal. All Rights Reserved</p>
							</div>
							<div class="col-lg-6 col-md-6 text-right">
								<ul class="footer-bottom-social">
									<li><a href="#"><i class="ti-facebook"></i></a></li>
									<li><a href="#"><i class="ti-twitter"></i></a></li>
									<li><a href="#"><i class="ti-instagram"></i></a></li>
									<li><a href="#"><i class="ti-linkedin"></i></a></li>
								</ul>
							</div>
							
						</div>
					</div>
				</div>
			</footer>
</body>
</html>