<!DOCTYPE html>
<html lang="en">
	
	
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Placement Portal</title>
    <link rel ="shortcut icon" type="image/png" href="/img/favicon.ico">
    <!-- All Plugins Css -->
    <link href="/css/plugins.css" rel="stylesheet">
     

    <!-- Custom CSS -->
    <link href="/css/styles.css" rel="stylesheet">
    
    <!-- Custom Color -->
	<link href="/css/default.css" rel="stylesheet">
	<script>
		function myFunction() {
		  var x = document.getElementById("myInput");
		  if (x.type === "password") {
			x.type = "text";
		  } else {
			x.type = "password";
		  }
		}
		function regpass() {
			  var x = document.getElementById("reg");
			  if (x.type === "password") {
				x.type = "text";
			  } else {
				x.type = "password";
			  }
			}
		</script>
</head>

<body class="green-skin bg-light">
    
    <div id="main-wrapper">
		
        <!-- Start Navigation navbar-->
        <div class="header header-light">
            <div class="container-fluid">
                <nav id="navigation" class="navigation navigation-landscape">
                    <div class="nav-header">
                        <a class="nav-brand" href="#">
                            <img src="/img/logo4.PNG" class="logo"  alt="logo">
                        </a>
                        <div class="nav-toggle"></div>
                    </div>
                    <div class="nav-menus-wrapper" style="transition-property: none;">
                        <ul class="nav-menu">
                        
                            <li><a href="/">Home</a></li>
							
								<%if (user && user.admin){%>
								<li class="active"><a href="/allusers">All students</a></li>
									<%}%>
									<% if(user){ %>
										  <li>
										<a href="/admin/list" >
											<i class="ti-signal mr-1"></i><span class="dn-lg">Get list </span>
										</a>
									</li>
										<%}%>
                                    <li>
									<a href="/tip"><i class="ti-ink-pen"></i><span class="dn-lg">Add new tip</span></a></li>                                 
                            </li>
                            
                            <li><a href="/contact">Contact Us</a></li>
                            
                        </ul>
                        
                        <ul class="nav-menu nav-menu-social align-to-right">
                            
                            
								<% if(user) {%>
									<li>
										<a href="/users/logout" >
											<i class="ti-user mr-1"></i><span class="dn-lg">Logout</span>
										</a>
									</li>
								
									
									
									<% if(user.admin){ %>
									<li class="add-listing theme-bg">
										<a href="/admin/addnew">
											 <i class="ti-plus"></i> Add new company
										</a>
									</li>
									<% }else{ %>
										<li class="add-listing theme-bg">
											<a href="/users/profile">
												Your Profile
											</a>
										</li>
										<% } %>
								<% }else{ %>
									<li>
									<a href="#" data-toggle="modal" data-target="#login">
										<i class="ti-user mr-1"></i><span class="dn-lg">Login/Register</span>
									</a>
									</li>
									<% } %>
                           
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- End Navigation -->
        <div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			<%- messages('messages', locals) -%>
			<br>
			<div class="container">
            <table class="table alignmiddle" >
				<tr style="align-items: center;">
					<th>
						Username
					</th>
					<th>
						Year
					</th>
					<th>
						Email
					</th>
					<th>Public Profile</th>
				</tr>
				
				<% users.forEach(function(user){ %>
					<tr>
						<td><%= user.username %></td>
						<td><%= user.year %></td>
						<td><%= user.email %></td>
						<td><a href="/users/detail/<%= user._id %>" style="color: blue;">Click here</a></td>
					</tr>
				<% }); %>
				
			</table>
			</div>
			
			
			<!-- footer start  -->
            <footer class="dark-footer skin-dark-footer">
				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">
							
							<div class="col-lg-6 col-md-6">
								<p class="mb-0">© 2020 Placement Portal. All Rights Reserved</p>
							</div>
							
							<div class="col-lg-6 col-md-6 text-right">
								<ul class="footer-bottom-social">
									<li><a href="#"><i class="ti-facebook"></i></a></li>
									<li><a href="#"><i class="ti-twitter"></i></a></li>
									<li><a href="#"><i class="ti-instagram"></i></a></li>
									<li><a href="#"><i class="ti-linkedin"></i></a></li>
								</ul>
							</div>
							
						</div>
					</div>
				</div>
				
			</footer>


		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/select2.min.js"></script>
		<script src="/js/aos.js"></script>
		<script src="/js/perfect-scrollbar.jquery.min.js"></script>
		<script src="/js/owl.carousel.min.js"></script>
		<script src="/js/jquery.counterup.min.js"></script>
		<script src="/js/slick.js"></script>
		<script src="/js/bootstrap-datepicker.js"></script>
		<script src="/js/isotope.min.js"></script>
		<script src="/js/summernote.js"></script>
		<script src="/js/jQuery.style.switcher.js"></script>
		 
		<script src="/js/counterup.min.js"></script>
		<script src="/js/custom.js"></script>
		
		<script>
				$(function(){
					$('.datepicker').datepicker({
						format: 'mm-dd-yyyy'
					});
				});
		</script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->
		

	</body>

</html>